---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
const {id} = Astro.params;
import { getLaunchBy, getLaunches } from '../../services/spacex';

let launch;
if(id){
    launch = await getLaunchBy(id);
}

/*
Astro needs to know how many static pages it needs to create.
*/
export async function  getStaticPaths() {

    const launches = await getLaunches();

    return launches.map((launch)=>({
        params: {id: launch.id}
    }));
}


---


<Layout title={`Space X Launch # ${launch?.flight_number}`}>
  <article>
    <img src={launch?.links.patch.large} alt={`Patch for launch ${launch?.id}`} />
    <h2 class="text-4xl font-bold my-4">{launch?.name}</h2>
    <p class="text-xl text-gray-600 dark:text-gray-400">{launch?.details}</p>
 
  </article>